// COLORS
$color-primary: #D33E41;
$color-primary-dark: #A12F31;
$color-primary-dark2: #5f0b0c;
$color-secondary: #231E20;
$color-grey-light: #F1F1F1;
$color-grey-light2: #ebe8e8;


// FONT
$default-font-size: 1.6rem;

 
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;