// COLORS
$color-primary: #D33E41;
$color-primary-dark: #d43f41;
$color-secondary: #231E20;
$color-grey-light: #F1F1F1;


// FONT
$default-font-size: 1.6rem;

 
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;