*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10/16 = 62.5%

    @include respond(big-desktop){
        font-size: 75%; // 1 rem = 12px; 12/16
    }

    @include respond(tab-land){ //width < 1200?
        font-size: 56.25%; // 1 rem = 8px; 8/16 = 50%
    }

    @include respond(tab-port){ //width < 900?
        font-size: 50%;
    }
}


body {
    background-color: $color-grey-light;
    box-sizing: border-box;
}

header, 
main {
    margin-left: 20%;

    @include respond(desktop){ margin-left: 25%;}
    @include respond(tab-land){ margin-left: 0rem;}
    @include respond(med-height){ margin-left: 0rem;}
}

header {
    padding-top: 6rem;

    @include respond(tab-land){ padding-top: 18rem;}
    @include respond(med-height){ padding-top: 18rem;}
}

main,
section {
    margin-top: 6rem;
    margin-bottom: 6rem;
    
}

.heading-primary,.heading-secondary {
    margin-bottom: 2rem;
}



 .heading-tertiary {
    margin-bottom: 3rem;

     // TEXTURE BY: Peax. http://www.peax-webdesign.com/
    background-image: url(../../img/texture2.png);
    padding-left: 3rem;
}

.heading-quaternary {
    margin: 1rem 0;
}

.paragraph {
    margin: 1.6rem 0;
}

.strike {
    text-decoration: line-through;
}


