footer {
    position: absolute;
    left: 0; 
     // TEXTURE BY: Peax. http://www.peax-webdesign.com/
    background-image: url(../../img/texture2.png);
    width: 100%;
     .footer-list{
         margin-left: 20%;
        &--item {
            display: inline;
        }
     }
    
    a{
        margin-left: 2rem;
    }

    .footer {
        right: 0;
    }
}

.navigation footer {
    bottom:0;
}