.navigation {
    float: left;
    height:100%;
    width: 20%;
    background-color: $color-primary;
    // #D33E41
    // TEXTURE BY: Atle Mo. https://atlemo.com/
    background-image: linear-gradient(to bottom, rgba(#e44245, 0.7), rgba(#e44245, 0.6)), url(../../img/congruent_outline.png);
    background-repeat:repeat;
    
    position: fixed;
    box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    
    .fullscreen{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
    }

    &__hamburger-menu {
        cursor: pointer;
        width: 3rem;
        height: .3rem;
        background-color: #FFF;
        position: absolute;
        top: 5.5rem;
        right: 6rem;

        &::after, &::before {
            content: "";
            width: 3rem;
            height: .3rem;
            background-color: #FFF;
            display: block;
            position: relative;
        }
        &::after {
            top: -1.25rem;
            right: 0rem;
        }
        &::before {
            top: 1rem;
            right: 0rem;
        }

        &:hover, &:hover::after, &:hover::before{
            background-color: $color-secondary;
        }

        
    }

    @include respond(desktop){ 
        .hidden-lg {
            position: absolute;
            left: 9999rem !important;
        }
    }
    

    @include respond(tab-land){ 
        height: 12rem;
        width: 100%;
        
    }

    @include respond(tab-land){ 
        &__nav {
            .row {
                margin-bottom: -1rem !important;
            }
        }
        
    }

    &__item {
        margin-left: 2rem;
    }

    &__image {
        margin: 2rem auto 0;
        border-radius: 50%;
        max-width: 220px;
        width: 60%;
        max-height: 220px;
        height: 220px;
        // border: 1px solid rgba(0, 0, 0, 0.589);
        box-shadow: 2px 2px 0px #BB4430, 5px 5px 0px rgba(0, 0, 0, 0.1);
        background-image: url(../../img/Alex-Johnson2-sm.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all .2s ease-in-out;


        @include respond(tab-land){ 
            height:9rem;
            width: 9rem;
            float: left;
            position: relative;
            bottom: 15px;
            
        }
    


        &:hover {
            background-image: url(../../img/Alex-Johnson2-distort-sm2.png);
        }
    }

    &__link--active{
            padding-left:2rem;

            &:hover {
                padding-left: 3rem;
            }
        }

    @include respond(tab-land){ 
        
        footer {
            display: none;
        
        }
    }

    &__footer-list--item {
        display: inline;
        a {
            margin-left: 2rem;
        }
    }


    ul {
        list-style: none;
        padding-left: 1rem;

        @include respond(tab-land){ 
            display: none;
        
        }

        .navigation__link{
                width: 100%;
                transition: all .2s ease-in;
        
                &:hover {
                    padding-left: 1rem;
                }

                &--sub:hover{ 
                        padding-left: 2rem;
                    }
                    
                }  
    }
    

    &__list--sub{
        margin-left: 3rem;
    }

    

    &::before {
        content: "";
        display: block;
        height: 1rem;
        width: 100%;

        // TEXTURE BY: Peax. http://www.peax-webdesign.com/
        background: #000;
        background-image: url(../../img/texture2.png);
    
    }

    @include respond(tab-land){ 
        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 100%;
    
            // TEXTURE BY: Peax. http://www.peax-webdesign.com/
            background: #000;
            background-image: url(../../img/texture2.png);
        }
        
    } //INCLUDE



} //NAVIGATION
